

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
     /* background-color: rgba(173, 230, 223, 0.277); */
}
.nav-title{
    font-weight: black;
    font-size: 34px;
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;

}

.header{
    background-image: url('../Assets/Hero-bg.png');
  
}
header div{
    text-align: center;
}
.banner{
    padding: 267.5px 309px 152px;
    font-weight: bold;
    font-size: 65px;
    color: #252432;
     /* background-color: rgba(173, 230, 223, 0.277); */
}
.Action{
    display: flex;
    justify-content: space-between;
    padding: 141px 814px 159px;
    /* background-color: rgba(173, 230, 223, 0.277); */
}
.section-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.section-description{
   font-weight: 400;
    font-size: 24px;
    color: #252432;
   
   
}
.img-format img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  display: block;
  overflow: hidden;
}
.Productive{
    display: flex;
    gap: 158px;
   justify-content: center;
}
.heading{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.type{
    font-weight: bold;
    font-size: 200;
    color: #4E47FF;
    width: 135px;
    height: 50px;
}
.users-section{

    display: block;
background-color: #4d47ff48;
    height: 306px;
   text-align: center;
   max-width: 1140px;
   margin: auto;
   position: 201px 1257px;
   margin: auto;
   padding: 50px 80px;
   border-radius: 24px;
}

.description{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    
}
.touch{
    padding: 200px 612px;
    font-weight: bold;
    font-size: 97px;
    color: #000000;
}
.section{
    display: flex;
    gap: 115px;
}
.section-column{
    width: 50%;
}
 input[type="text"],input[type="email"],textarea{
    height: 70px;
    border-radius: 5px;
    /* background-color: #FFFFFF; */
    display: block;
    width: 100%;
    padding: 32px 20px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    gap: 10px;
 }
 .secondary-bg{
    background-color: #4d47ff0b;
 }
